.headerHomePage{
    width: 100vw;
    height: 100vh;
    
    background-image: url(../../images/christmas-313364_1280.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.daysCalendar{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.daysCalendarLink{
    /* border: 2px solid black; */
    width: 150px;
    height: 150px;

    text-align: center;
    
    margin: 30px;
    position: relative;

    background-color: rgba(153, 58, 58, 0.712);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.753);
    border-radius: 10px 10px 0px 0px;
}

.dayCalendarLink p {
    margin-top: -10px;
    height: 50px;
    background-color: rgba(153, 58, 58, 0.712);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.753);
    border-radius:0px 0px 10px 10px;

    color: #FFFFFF;
    text-shadow: 1px 3px 0 #969696, 1px -3px 5px #aba8a8;
}

.dayCalendarLink img {
    background-color: rgba(153, 58, 58, 0.712);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.753);
    border-radius: 10px 10px 0px 0px;
}

.daysCalendarLink:hover{
        /* border: 2px solid black; */
    background-color: rgba(153, 58, 58, 0.712); 
    box-shadow: 0px 0px 10px rgba(148, 128, 128, 0.753);
    border-radius: 10px;
}

.daysCalendarLink img{
    object-fit: cover;
}

.homePageP {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dayCalendarLink {
    /* border: 2px solid black; */
    left: 0px;
    width: 150px;
    height: 150px;
    position: absolute;

    text-decoration: none;
    color: black;
}

.buttonLike{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    position: absolute;
    left: 115px;
    bottom: 115px;
    
}

.buttonLike button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;

    background-color: rgb(63, 53, 53);
}

.buttonLike :hover{
    background-color: darkred;
    width: 55px;
    height: 55px;
}